@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
  overflow: hidden;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  right: 30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    width: 250px;
    left: -160px;
    top: 30px;
  }
}
